ion-header {
    --ion-background-color: #e6475f;
    ion-title {
        color: white;
    }
}

ion-content {
    --ion-background-color: var(--ion-color-black);
}

ion-card {
    background-color: white;
    padding: 0.5em 1em;
    color: #252524;
    .global {
        font-weight: bold;
        display: inline-block;
    }
    .name {
        padding-left: 1em;
        font-weight: bold;
        display: inline-block;
    }
}